body {
  background-color: #e6e619 !important;
  background-image: url('images/pizza_slice.jpg');
}

.holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.title, .slogan, .navigation {
  width: 100%;
}

.buttons {
  width: 100%;
  text-align: center;
}

.title_text, .slogan_text {
  text-align: center;
}

.actual_pizza, .toppings {
  margin-top: 30px;
  width: 50%;
}

.pizza_crust {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #663300;
  margin-left: auto;
  margin-right: auto;
}

.cheese {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: auto;
  background-color: yellow;
}

.navigation {
  height: 40px;
}

.topping {
  font-size: 22px;
  font-weight: bolder;
}

.toppings_list_1, .toppings_list_2 {
  width: 25%;
}
