.holder {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.title, .slogan, .navigation {
  width: 100%;
}

.buttons {
  width: 100%;
  text-align: center;
}

button.btn {
  font-size: 20px;
}

.title_text {
  font-size: 45px;
}

.slogan_text {
  font-size: 22px;
}

.title_text_div, .slogan_text_div {
  text-align: center;
}

.actual_pizza, .toppings {
  margin-top: 30px;
  width: 50%;
}

.pizza_crust {
  width: 325px;
  height: 325px;
  border-radius: 50%;
  background-color: #663300;
  margin-left: auto;
  margin-right: auto;
}

.cheese {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  margin: auto;
  background-color: yellow;
}

.navigation {
  height: 40px;
}

.toppings {
  width: 100%;
}

.topping {
  font-size: 22px;
  font-weight: bolder;
}

.toppings_list_1, .toppings_list_2 {
  width: 50%;
}

img.mySlides {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  height: 150px;
  width: 300px;
}
